# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Compiler outputs
dist/
tmp/
out-tsc/
bazel-out/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Test coverage
coverage/
*.lcov

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.env
.env.*.local
.env.gpg

# Local development files
.vercel
.netlify
.svelte-kit
.next
.nuxt
.expo
.docusaurus

# IDE specific files
.env.local
.env.*.local
*.local
dist-ssr
*.tsbuildinfo
